
    <body>
        <!-- Navigation-->

        <app-template-header></app-template-header>
         
        <!-- Header-->
        <!-- Header -->
<header class="header-custom-modern py-5 text-white text-center">
    <div class="container my-5">
      <img src="https://i.ibb.co/C3jrxhBs/lion-Cell-Logo.jpg"
           alt="Lion Cell Logo"
           class="logo-modern mb-4 shadow" />
      <h1 class="display-4 fw-bold mb-3">Bienvenido a <span class="text-highlight">Lion Cell</span></h1>
      <p class="lead text-light">Descubre nuestros productos de calidad</p>
    </div>
  </header>
  
        
         <!-- Productos -->
        <section id="productos" class="py-5">
            <div class="container">
                <h2 class="text-center mb-5">Nuestros Productos</h2>
                <app-lista-productos></app-lista-productos>
            </div>
        </section>

        <!-- Footer-->
        <app-template-footer></app-template-footer>
        <!-- Bootstrap core JS-->
       
    </body>
    
